<a href="https://colab.research.google.com/github/minzeros/codestates_section_project/blob/main/Section4_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Google Drive 마운트

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### 데이터셋 불러오기

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('/content/drive/MyDrive/중소기업은행_펀드 정보_20210205.csv', encoding='cp949')
df.shape

(1241, 10)

In [4]:
df.head()

      운용사명                         상품명  1개월누적수익률(%)  ...     펀드유형  선취수수료(%)  총보수(%)
0  BNK자산운용    BNK 튼튼코리아증권투자신탁1호[주식] A1         7.14  ...      주식형       1.0    1.45
1  BNK자산운용   BNK 튼튼코리아증권투자신탁1호[주식] C-e         7.13  ...      주식형       NaN    1.53
2  BNK자산운용     BNK 튼튼코리아증권투자신탁1호[주식]C1         7.07  ...      주식형       NaN    2.25
3  BNK자산운용            BNK법인MMF1호(국공채)C         0.05  ...  MMF(법인)       NaN    0.10
4  BNK자산운용  BNK스팩&공모주30증권투자신탁1호(채권혼합)A         0.45  ...    채권혼합형       0.8    0.90

[5 rows x 10 columns]

In [8]:
df.dtypes

운용사명             object
상품명              object
1개월누적수익률(%)     float64
3개월누적수익률(%)     float64
6개월누적수익률(%)     float64
12개월누적수익률(%)    float64
펀드등급              int64
펀드유형             object
선취수수료(%)        float64
총보수(%)          float64
dtype: object

### 결측치 확인 및 처리

In [5]:
df.isnull().sum()

운용사명              0
상품명               0
1개월누적수익률(%)       0
3개월누적수익률(%)       0
6개월누적수익률(%)       0
12개월누적수익률(%)      0
펀드등급              0
펀드유형              0
선취수수료(%)        866
총보수(%)            0
dtype: int64

In [11]:
# len(df['선취수수료(%)']) - df['선취수수료(%)'].isnull().sum()

375

In [53]:
# sum, count = 0, 0
# for tf in df['선취수수료(%)']:
#   if not np.isnan(tf):
#     sum += tf
#     count += 1

# avg_fees = round(sum / count, 2)
# avg_fees

0.63

In [54]:
# df['선취수수료(%)'] = df['선취수수료(%)'].fillna(avg_fees)
# df.head()

      운용사명                         상품명  1개월누적수익률(%)  ...     펀드유형  선취수수료(%)  총보수(%)
0  BNK자산운용    BNK 튼튼코리아증권투자신탁1호[주식] A1         7.14  ...      주식형      1.00    1.45
1  BNK자산운용   BNK 튼튼코리아증권투자신탁1호[주식] C-e         7.13  ...      주식형      0.63    1.53
2  BNK자산운용     BNK 튼튼코리아증권투자신탁1호[주식]C1         7.07  ...      주식형      0.63    2.25
3  BNK자산운용            BNK법인MMF1호(국공채)C         0.05  ...  MMF(법인)      0.63    0.10
4  BNK자산운용  BNK스팩&공모주30증권투자신탁1호(채권혼합)A         0.45  ...    채권혼합형      0.80    0.90

[5 rows x 10 columns]

In [18]:
df['선취수수료(%)'] = df['선취수수료(%)'].fillna(0)
df.head()

      운용사명                         상품명  1개월누적수익률(%)  ...     펀드유형  선취수수료(%)  총보수(%)
0  BNK자산운용    BNK 튼튼코리아증권투자신탁1호[주식] A1         7.14  ...      주식형       1.0    1.45
1  BNK자산운용   BNK 튼튼코리아증권투자신탁1호[주식] C-e         7.13  ...      주식형       0.0    1.53
2  BNK자산운용     BNK 튼튼코리아증권투자신탁1호[주식]C1         7.07  ...      주식형       0.0    2.25
3  BNK자산운용            BNK법인MMF1호(국공채)C         0.05  ...  MMF(법인)       0.0    0.10
4  BNK자산운용  BNK스팩&공모주30증권투자신탁1호(채권혼합)A         0.45  ...    채권혼합형       0.8    0.90

[5 rows x 10 columns]

In [7]:
df.isna().sum()

운용사명            0
상품명             0
1개월누적수익률(%)     0
3개월누적수익률(%)     0
6개월누적수익률(%)     0
12개월누적수익률(%)    0
펀드등급            0
펀드유형            0
선취수수료(%)        0
총보수(%)          0
dtype: int64

### EDA

In [92]:
df['펀드등급'].value_counts()

2    498
4    244
5    222
3    160
6     71
1     46
Name: 펀드등급, dtype: int64

In [8]:
df['펀드유형'].value_counts()

주식형        463
재간접투자      283
채권형        185
채권혼합형      155
파생상품        81
주식혼합형       42
특별자산투자      21
MMF(개인)      7
MMF(법인)      4
Name: 펀드유형, dtype: int64

In [94]:
df['선취수수료(%)'].value_counts()

0.0000    868
1.0000    121
0.5000     91
0.7000     24
0.3000     18
0.4000     18
0.8000     15
0.3500     12
0.1000      9
0.2500      9
0.6000      9
0.2000      8
0.0500      6
0.1500      6
1.2000      5
0.0200      3
0.1600      2
0.0100      2
0.2400      2
0.3200      1
0.7500      1
0.2200      1
0.3700      1
0.4500      1
0.4900      1
0.4200      1
0.0300      1
0.0050      1
0.1400      1
0.0400      1
0.0375      1
0.9000      1
Name: 선취수수료(%), dtype: int64

In [16]:
df['총보수(%)'].value_counts()

1.000    12
2.090    11
0.700    11
0.800    11
0.390    10
         ..
1.247     1
0.282     1
1.492     1
1.008     1
0.411     1
Name: 총보수(%), Length: 547, dtype: int64

In [59]:
df['운용사명'].value_counts()

미래에셋자산운용         168
IBK자산운용          150
한국투자신탁운용         132
KB 자산운용           78
NH-Amundi자산운용     55
한화자산운용            54
트러스톤자산운용          52
마이다스에셋자산운용        43
삼성자산운용            37
키움투자자산운용          36
KTB자산운용           32
신한BNP파리바          30
하나UBS자산운용         28
이스트스프링자산운용코리아     28
신영자산운용            27
한국투자밸류자산운용        23
프랭클린템플턴투자신탁운용     23
우리자산운용            22
DB자산운용            21
우리G자산운용           21
교보악사자산운용          21
브이아이자산운용          17
유진자산운용            15
메리츠자산운용           14
슈로더투신운용           13
현대자산운용            12
에셋플러스자산운용         12
맥쿼리투자신탁운용         12
유리자산운용            11
칸서스자산운용           11
삼성액티브자산운용         10
BNK자산운용            8
HDC자산운용            7
블랙록자산운용            6
에셋원자산운용            4
브레인자산운용            4
코레이트자산운용           3
대신자산운용             1
Name: 운용사명, dtype: int64

In [9]:
comp_list = df['운용사명'].unique()
comp_list

array(['BNK자산운용', 'DB자산운용', 'HDC자산운용', 'IBK자산운용', 'KB 자산운용', 'KTB자산운용',
       'NH-Amundi자산운용', '교보악사자산운용', '대신자산운용', '마이다스에셋자산운용', '맥쿼리투자신탁운용',
       '메리츠자산운용', '미래에셋자산운용', '브레인자산운용', '브이아이자산운용', '블랙록자산운용',
       '삼성액티브자산운용', '삼성자산운용', '슈로더투신운용', '신영자산운용', '신한BNP파리바', '에셋원자산운용',
       '에셋플러스자산운용', '우리G자산운용', '우리자산운용', '유리자산운용', '유진자산운용',
       '이스트스프링자산운용코리아', '칸서스자산운용', '코레이트자산운용', '키움투자자산운용', '트러스톤자산운용',
       '프랭클린템플턴투자신탁운용', '하나UBS자산운용', '한국투자밸류자산운용', '한국투자신탁운용', '한화자산운용',
       '현대자산운용'], dtype=object)

In [10]:
for comp in comp_list:
  print(comp, '------------------')
  print(df[df['운용사명'].isin([comp])]['선취수수료(%)'])

BNK자산운용 ------------------
0    1.0
1    0.0
2    0.0
3    0.0
4    0.8
5    0.4
6    0.0
7    0.0
Name: 선취수수료(%), dtype: float64
DB자산운용 ------------------
8     1.0
9     0.5
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.5
16    0.0
17    0.0
18    0.0
19    0.0
20    1.0
21    0.0
22    1.0
23    0.0
24    0.0
25    1.0
26    0.0
27    0.0
28    0.0
Name: 선취수수료(%), dtype: float64
HDC자산운용 ------------------
29    0.50
30    0.25
31    0.00
32    0.00
33    0.00
34    0.00
35    0.00
Name: 선취수수료(%), dtype: float64
IBK자산운용 ------------------
36     1.0
37     0.0
38     0.0
39     0.5
40     0.0
      ...
181    0.0
182    0.0
183    0.0
184    0.0
185    0.0
Name: 선취수수료(%), Length: 150, dtype: float64
KB 자산운용 ------------------
186    0.70
187    0.35
188    0.00
189    0.00
190    0.00
       ...
259    0.70
260    0.00
261    0.00
262    0.00
263    0.00
Name: 선취수수료(%), Length: 78, dtype: float64
KTB자산운용 ------------------
264    1.00
265    0.00
266    0.40
267    0.20
268    0.00
269    0.00
270    0.00
271    1.00
272    0.50
273    0.00
274    0.00
275    0.00
276    0.00
277    1.00
278    0.50
279    0.00
280    0.00
281    0.00
282    0.00
283    0.00
284    1.00
285    0.00
286    0.00
287    0.50
288    0.25
289    0.00
290    0.00
291    1.00
292    0.50
293    0.50
294    0.00
295    0.00
Name: 선취수수료(%), dtype: float64
NH-Amundi자산운용 ------------------
296    0.40
297    0.00
298    0.00
299    0.00
300    1.00
301    0.00
302    1.00
303    0.50
304    0.00
305    0.00
306    0.00
307    0.00
308    0.00
309    0.00
310    0.00
311    0.00
312    0.00
313    0.30
314    0.00
315    0.00
316    0.80
317    0.40
318    0.00
319    0.00
320    0.00
321    0.00
322    0.80
323    0.40
324    0.00
325    0.00
326    0.00
327    0.80
328    0.00
329    0.40
330    0.00
331    0.00
332    0.00
333    1.00
334    0.00
335    0.00
336    0.50
337    0.25
338    0.00
339    0.00
340    0.00
341    0.00
342    0.00
343    0.10
344    0.30
345    0.05
346    0.00
347    0.00
348    0.00
349    0.00
350    0.00
Name: 선취수수료(%), dtype: float64
교보악사자산운용 ------------------
351    0.0
352    0.0
353    0.0
354    0.3
355    0.0
356    0.0
357    1.0
358    0.0
359    0.0
360    0.0
361    1.0
362    0.5
363    0.0
364    0.0
365    1.0
366    0.5
367    0.0
368    0.0
369    0.0
370    0.0
371    0.0
Name: 선취수수료(%), dtype: float64
대신자산운용 ------------------
372    0.0
Name: 선취수수료(%), dtype: float64
마이다스에셋자산운용 ------------------
373    1.00
374    0.00
375    0.00
376    0.00
377    0.00
378    0.00
379    0.50
380    0.00
381    0.00
382    0.00
383    0.42
384    0.60
385    0.00
386    0.00
387    0.00
388    0.00
389    1.00
390    0.50
391    0.00
392    0.00
393    0.00
394    0.00
395    0.00
396    1.00
397    0.50
398    0.00
399    0.00
400    0.00
401    0.00
402    0.20
403    0.40
404    0.10
405    0.00
406    0.00
407    0.00
408    0.00
409    1.00
410    0.50
411    0.00
412    0.00
413    0.00
414    0.00
415    0.00
Name: 선취수수료(%), dtype: float64
맥쿼리투자신탁운용 ------------------
416    1.0
417    0.0
418    0.0
419    0.0
420    0.0
421    0.0
422    1.0
423    0.0
424    0.0
425    1.2
426    0.0
427    0.0
Name: 선취수수료(%), dtype: float64
메리츠자산운용 ------------------
428    0.22
429    0.00
430    0.00
431    0.00
432    0.00
433    0.40
434    0.16
435    0.00
436    0.00
437    0.00
438    0.70
439    0.00
440    0.00
441    0.00
Name: 선취수수료(%), dtype: float64
미래에셋자산운용 ------------------
442    0.0
443    1.0
444    0.0
445    0.0
446    0.0
      ...
605    0.5
606    0.0
607    1.0
608    0.0
609    0.0
Name: 선취수수료(%), Length: 168, dtype: float64
브레인자산운용 ------------------
610    1.0
611    0.5
612    0.0
613    0.0
Name: 선취수수료(%), dtype: float64
브이아이자산운용 ------------------
614    0.0
615    0.0
616    0.0
617    0.0
618    0.0
619    0.5
620    0.0
621    0.0
622    0.0
623    0.0
624    0.0
625    1.0
626    0.5
627    0.0
628    0.0
629    0.0
630    0.0
Name: 선취수수료(%), dtype: float64
블랙록자산운용 ------------------
631    1.0
632    0.0
633    0.0
634    0.0
635    0.0
636    0.0
Name: 선취수수료(%), dtype: float64
삼성액티브자산운용 ------------------
637    1.0
638    0.0
639    0.0
640    1.0
641    0.5
642    0.0
643    0.0
644    1.0
645    0.0
646    0.0
Name: 선취수수료(%), dtype: float64
삼성자산운용 ------------------
647    1.00
648    0.00
649    0.00
650    0.00
651    1.00
652    0.00
653    0.00
654    0.00
655    0.30
656    0.15
657    0.00
658    0.00
659    0.00
660    0.00
661    0.00
662    1.00
663    0.50
664    0.00
665    0.00
666    0.00
667    0.00
668    0.00
669    1.00
670    0.00
671    0.00
672    1.00
673    0.50
674    0.00
675    0.00
676    0.00
677    1.00
678    0.50
679    0.00
680    0.00
681    0.00
682    0.00
683    0.00
Name: 선취수수료(%), dtype: float64
슈로더투신운용 ------------------
684    0.0
685    0.0
686    1.0
687    0.5
688    0.0
689    0.0
690    0.0
691    1.2
692    0.5
693    0.0
694    0.0
695    0.0
696    0.0
Name: 선취수수료(%), dtype: float64
신영자산운용 ------------------
697    0.0
698    0.0
699    0.0
700    0.0
701    1.0
702    1.0
703    0.5
704    0.0
705    0.0
706    0.0
707    0.0
708    0.0
709    0.6
710    0.0
711    0.0
712    0.0
713    0.0
714    0.0
715    1.0
716    0.5
717    0.5
718    0.0
719    0.0
720    0.0
721    0.0
722    0.0
723    0.0
Name: 선취수수료(%), dtype: float64
신한BNP파리바 ------------------
724    0.00
725    0.00
726    0.40
727    0.80
728    0.00
729    0.00
730    0.00
731    0.00
732    0.50
733    0.00
734    0.00
735    0.15
736    0.30
737    0.00
738    0.00
739    0.35
740    0.70
741    0.00
742    0.00
743    0.00
744    0.00
745    0.00
746    0.50
747    0.00
748    0.00
749    0.50
750    1.00
751    0.00
752    0.00
753    0.00
Name: 선취수수료(%), dtype: float64
에셋원자산운용 ------------------
754    1.0
755    0.5
756    0.0
757    0.0
Name: 선취수수료(%), dtype: float64
에셋플러스자산운용 ------------------
758    1.00
759    0.50
760    0.00
761    0.00
762    0.00
763    0.00
764    0.00
765    0.90
766    0.45
767    0.00
768    0.00
769    0.00
Name: 선취수수료(%), dtype: float64
우리G자산운용 ------------------
770    0.70
771    0.35
772    0.00
773    0.00
774    0.00
775    0.00
776    0.00
777    0.70
778    0.00
779    0.00
780    0.00
781    0.00
782    1.20
783    0.00
784    0.00
785    0.00
786    0.50
787    0.30
788    0.00
789    0.00
790    0.00
Name: 선취수수료(%), dtype: float64
우리자산운용 ------------------
791    1.0000
792    0.0000
793    0.0000
794    0.0000
795    0.0500
796    0.0375
797    0.0300
798    0.0000
799    0.0000
800    0.0000
801    0.0000
802    0.0000
803    0.0000
804    0.0000
805    0.0000
806    0.0000
807    0.0000
808    0.0000
809    0.3000
810    0.0000
811    0.0000
812    0.0000
Name: 선취수수료(%), dtype: float64
유리자산운용 ------------------
813    1.00
814    0.00
815    0.00
816    1.00
817    0.00
818    0.00
819    0.00
820    0.35
821    1.00
822    0.00
823    0.00
Name: 선취수수료(%), dtype: float64
유진자산운용 ------------------
824    0.10
825    0.05
826    0.00
827    0.00
828    0.00
829    0.30
830    0.00
831    0.00
832    0.10
833    0.05
834    0.30
835    0.00
836    0.00
837    0.00
838    0.00
Name: 선취수수료(%), dtype: float64
이스트스프링자산운용코리아 ------------------
839    0.50
840    0.25
841    0.00
842    0.00
843    0.70
844    0.00
845    1.20
846    0.60
847    0.00
848    0.00
849    0.00
850    0.00
851    0.00
852    0.80
853    0.40
854    0.00
855    0.00
856    0.00
857    0.00
858    0.70
859    0.00
860    0.00
861    1.00
862    0.00
863    0.00
864    0.50
865    0.00
866    0.00
Name: 선취수수료(%), dtype: float64
칸서스자산운용 ------------------
867    0.25
868    0.14
869    0.00
870    0.00
871    0.50
872    0.20
873    0.00
874    0.00
875    0.00
876    0.00
877    0.00
Name: 선취수수료(%), dtype: float64
코레이트자산운용 ------------------
878    0.5
879    0.0
880    0.0
Name: 선취수수료(%), dtype: float64
키움투자자산운용 ------------------
881    0.00
882    1.00
883    0.50
884    0.00
885    0.00
886    0.00
887    0.00
888    0.00
889    0.02
890    0.01
891    0.00
892    0.00
893    0.30
894    0.15
895    0.00
896    0.00
897    0.00
898    0.20
899    0.40
900    0.00
901    0.00
902    0.00
903    0.00
904    0.00
905    1.00
906    0.00
907    0.00
908    0.00
909    0.00
910    0.00
911    0.00
912    0.00
913    0.00
914    0.00
915    0.00
916    0.00
Name: 선취수수료(%), dtype: float64
트러스톤자산운용 ------------------
917    0.50
918    0.00
919    0.00
920    0.00
921    0.00
922    0.00
923    1.00
924    0.30
925    0.00
926    0.00
927    0.00
928    0.00
929    0.00
930    1.00
931    0.00
932    0.00
933    0.00
934    0.00
935    0.00
936    0.80
937    0.40
938    0.00
939    0.00
940    0.00
941    0.00
942    1.00
943    0.50
944    0.00
945    0.00
946    0.00
947    0.00
948    0.80
949    0.00
950    0.00
951    1.00
952    0.00
953    0.00
954    1.00
955    0.00
956    0.00
957    0.24
958    0.00
959    0.24
960    0.00
961    0.00
962    1.00
963    0.50
964    0.00
965    0.00
966    0.00
967    0.00
968    0.00
Name: 선취수수료(%), dtype: float64
프랭클린템플턴투자신탁운용 ------------------
969    0.5
970    0.0
971    0.0
972    0.0
973    0.7
974    0.0
975    0.0
976    0.7
977    0.0
978    0.0
979    0.0
980    1.0
981    0.0
982    0.0
983    0.5
984    0.0
985    0.0
986    1.0
987    0.0
988    0.0
989    1.0
990    0.5
991    0.0
Name: 선취수수료(%), dtype: float64
하나UBS자산운용 ------------------
992     0.70
993     0.35
994     0.00
995     0.00
996     0.00
997     0.00
998     0.00
999     0.00
1000    0.00
1001    0.00
1002    1.00
1003    0.50
1004    0.00
1005    0.00
1006    0.00
1007    0.00
1008    1.00
1009    0.50
1010    0.00
1011    0.00
1012    0.00
1013    0.00
1014    1.00
1015    0.50
1016    0.50
1017    0.00
1018    0.00
1019    0.00
Name: 선취수수료(%), dtype: float64
한국투자밸류자산운용 ------------------
1020    1.0
1021    0.0
1022    0.0
1023    0.0
1024    0.0
1025    0.0
1026    0.0
1027    0.0
1028    0.0
1029    0.0
1030    0.5
1031    0.0
1032    0.0
1033    1.0
1034    0.0
1035    0.0
1036    0.0
1037    0.0
1038    0.0
1039    1.0
1040    0.0
1041    0.0
1042    0.0
Name: 선취수수료(%), dtype: float64
한국투자신탁운용 ------------------
1043    1.0
1044    0.0
1045    0.0
1046    1.0
1047    0.0
       ...
1170    0.0
1171    1.0
1172    0.5
1173    0.0
1174    0.0
Name: 선취수수료(%), Length: 132, dtype: float64
한화자산운용 ------------------
1175    1.00
1176    0.00
1177    0.00
1178    0.00
1179    0.00
1180    0.00
1181    0.00
1182    0.00
1183    0.00
1184    1.00
1185    0.50
1186    0.00
1187    0.00
1188    0.00
1189    0.00
1190    0.00
1191    1.00
1192    0.50
1193    0.00
1194    0.00
1195    0.00
1196    0.00
1197    0.00
1198    0.20
1199    0.10
1200    0.00
1201    0.00
1202    0.00
1203    0.00
1204    0.00
1205    0.00
1206    0.00
1207    0.00
1208    1.00
1209    0.50
1210    0.00
1211    0.00
1212    0.00
1213    0.00
1214    1.00
1215    0.00
1216    1.20
1217    0.00
1218    0.00
1219    0.00
1220    0.00
1221    0.00
1222    0.30
1223    0.15
1224    0.00
1225    0.00
1226    0.00
1227    0.00
1228    0.00
Name: 선취수수료(%), dtype: float64
현대자산운용 ------------------
1229    1.00
1230    0.00
1231    0.00
1232    1.00
1233    0.50
1234    0.00
1235    0.00
1236    0.10
1237    0.05
1238    0.00
1239    0.00
1240    0.00
Name: 선취수수료(%), dtype: float64

In [11]:
df[df['펀드등급'] == 1]

               운용사명                                상품명  ...  선취수수료(%)  총보수(%)
36          IBK자산운용      IBK 2.0배레버리지인덱스증권투자신탁A(주식-파생)  ...       1.0   0.683
37          IBK자산운용      IBK 2.0배레버리지인덱스증권투자신탁C(주식-파생)  ...       0.0   1.443
38          IBK자산운용      IBK 2.0배레버리지인덱스증권투자신탁Ce(주식파생)  ...       0.0   0.943
200         KB 자산운용            KB북미생산유전고배당특별자산(인프라재간접A  ...       0.0   1.455
299   NH-Amundi자산운용  NH-Amundi1.5배레버리지인덱스증권투자신[주식파생]Ce  ...       0.0   1.105
300   NH-Amundi자산운용   NH-Amundi1.5배레버리지인덱스증권투자신탁[주식파생A  ...       1.0   0.845
301   NH-Amundi자산운용   NH-Amundi1.5배레버리지인덱스증권투자신탁[주식파생C  ...       0.0   1.605
322   NH-Amundi자산운용       NH-Amundi리버스인덱스증권투자신탁[주식파생]A  ...       0.8   0.683
323   NH-Amundi자산운용      NH-Amundi리버스인덱스증권투자신탁[주식파생]Ae  ...       0.4   0.558
324   NH-Amundi자산운용       NH-Amundi리버스인덱스증권투자신탁[주식파생]C  ...       0.0   1.233
325   NH-Amundi자산운용      NH-Amundi리버스인덱스증권투자신탁[주식파생]Ce  ...       0.0   0.833
416       맥쿼리투자신탁운용              맥쿼리뉴그로쓰증권자투자신탁1호(주식)A  ...       1.0   1.397
417       맥쿼리투자신탁운용            맥쿼리뉴그로쓰증권자투자신탁1호(주식)C-W  ...       0.0   0.697
418       맥쿼리투자신탁운용            맥쿼리뉴그로쓰증권자투자신탁1호(주식)C-e  ...       0.0   1.197
419       맥쿼리투자신탁운용            맥쿼리뉴그로쓰증권자투자신탁1호(주식)C-p  ...       0.0   1.597
420       맥쿼리투자신탁운용           맥쿼리뉴그로쓰증권자투자신탁1호(주식)C-pe  ...       0.0   1.147
421       맥쿼리투자신탁운용             맥쿼리뉴그로쓰증권자투자신탁1호(주식)C1  ...       0.0   2.097
422       맥쿼리투자신탁운용       맥쿼리차이나Bull1.5배증권자투자신탁A(주식파생형  ...       1.0   1.470
423       맥쿼리투자신탁운용      맥쿼리차이나Bull1.5배증권자투자신탁C1(주식파생형  ...       0.0   2.170
424       맥쿼리투자신탁운용      맥쿼리차이나Bull1.5배증권자투자신탁Ce(주식파생)  ...       0.0   1.570
487        미래에셋자산운용         미래에셋러시아업종대표증권자투자신탁1호A (주식)  ...       1.0   1.850
488        미래에셋자산운용       미래에셋러시아업종대표증권자투자신탁1호A-G (주식)  ...       0.7   1.590
489        미래에셋자산운용         미래에셋러시아업종대표증권자투자신탁1호C1(주식)  ...       0.0   2.490
490        미래에셋자산운용         미래에셋러시아업종대표증권자투자신탁1호Ce(주식)  ...       0.0   2.090
518        미래에셋자산운용          미래에셋브라질업종대표증권자투자신탁1호A(주식)  ...       1.0   1.850
519        미래에셋자산운용         미래에셋브라질업종대표증권자투자신탁1호C1(주식)  ...       0.0   2.490
520        미래에셋자산운용         미래에셋브라질업종대표증권자투자신탁1호Ce(주식)  ...       0.0   2.090
631         블랙록자산운용        블랙록 월드광업주증권자투자신탁[주식-재간접]H A  ...       1.0   1.565
632         블랙록자산운용      블랙록 월드광업주증권자투자신탁[주식-재간접]H C-W  ...       0.0   0.585
633         블랙록자산운용      블랙록 월드광업주증권자투자신탁[주식-재간접]H C-p  ...       0.0   1.165
634         블랙록자산운용     블랙록 월드광업주증권자투자신탁[주식-재간접]H C-pe  ...       0.0   1.165
635         블랙록자산운용       블랙록 월드광업주증권자투자신탁[주식-재간접]H C1  ...       0.0   2.065
636         블랙록자산운용       블랙록 월드광업주증권자투자신탁[주식-재간접]H Ce  ...       0.0   1.665
651          삼성자산운용      삼성WTI원유특별자산투자신탁1호(WTI원유-파생형)A  ...       1.0   0.860
652          삼성자산운용    삼성WTI원유특별자산투자신탁1호(WTI원유-파생형)C-W  ...       0.0   0.440
653          삼성자산운용     삼성WTI원유특별자산투자신탁1호(WTI원유-파생형)C1  ...       0.0   1.270
654          삼성자산운용     삼성WTI원유특별자산투자신탁1호(WTI원유-파생형)Ce  ...       0.0   1.190
677          삼성자산운용   삼성코스닥150 1.5배레버리지증권투자신탁(주식-파생형)A  ...       1.0   1.310
678          삼성자산운용  삼성코스닥150 1.5배레버리지증권투자신탁(주식-파생형)Ae  ...       0.5   0.950
679          삼성자산운용  삼성코스닥150 1.5배레버리지증권투자신탁(주식-파생형)C1  ...       0.0   1.890
680          삼성자산운용  삼성코스닥150 1.5배레버리지증권투자신탁(주식-파생형)Ce  ...       0.0   1.090
681          삼성자산운용  삼성코스닥150 1.5배레버리지증권투자신탁(주식-파생형)Cw  ...       0.0   0.590
1141       한국투자신탁운용       한국투자코스닥두배로증권투자신탁(주식-재간접파생형)A  ...       1.0   0.748
1142       한국투자신탁운용     한국투자코스닥두배로증권투자신탁(주식-재간접파생형)A-e  ...       0.5   0.548
1143       한국투자신탁운용       한국투자코스닥두배로증권투자신탁(주식-재간접파생형)C  ...       0.0   1.298
1144       한국투자신탁운용     한국투자코스닥두배로증권투자신탁(주식-재간접파생형)C-e  ...       0.0   0.818

[46 rows x 10 columns]

In [13]:
df['선취수수료(%)'].max()

1.2

In [15]:
df['총보수(%)'].max(), df['총보수(%)'].min()

(3.09, 0.07)

In [17]:
###############################################

In [19]:
# 법인 상품 제거

_idx = df[df['펀드유형'].str.contains('법인')].index
df.drop(index=_idx, inplace=True)

In [20]:
# 펀드유형별 번호 컬럼 생성

def set_type(df, typename, typenum):
  _idx = df[df['펀드유형'].str.contains(typename)].index
  for idx in _idx:
    df.at[idx, 'type'] = typenum
  
  return df

df['type'] = -1
df = set_type(df, '주식형', 1)
df = set_type(df, '채권형', 2)
df = set_type(df, '혼합형', 3)
df = set_type(df, '파생상품', 4)
df = set_type(df, '재간접투자', 5)
df = set_type(df, 'MMF', 6)
df = set_type(df, '특별자산투자', 7)

In [21]:
df['type'].value_counts()

1    463
5    283
3    197
2    185
4     81
7     21
6      7
Name: type, dtype: int64

In [22]:
# 투자종목 선택

def fund_type(df, typenum):
  return df[df['type'] == typenum]

In [23]:
# 총보수(%) 선택

def total_pay(df, limitnum):
  if limitnum == 1:
    return df[df['총보수(%)'] <= 1.0]
  elif limitnum == 2:
    return df[(df['총보수(%)'] > 1.0) & (df['총보수(%)'] <= 2.0)]
  elif limitnum == 3:
    return df[(df['총보수(%)'] > 2.0) & (df['총보수(%)'] <= 3.0)]
  elif limitnum == 4:
    return df[(df['총보수(%)'] > 3.0) & (df['총보수(%)'] <= 4.0)]

In [24]:
# 고객 투자성향 선택

def invest_type(df, style):
  grade = df['펀드등급']
  grade = grade.unique()
  grade.sort()
  result = list()
  mid = int(len(grade) / 3 * 2)

  if style == 1:
    result = [grade[0]]
  elif style == 2:
    result = grade[1:mid]
  elif style == 3:
    result = grade[mid:]

  return df[df['펀드등급'].isin(result)]

In [25]:
# 장단기 투자별 수익률 top10

def profit10(df, term):
  if term == 1:
    sorted_df = df.sort_values(by='3개월누적수익률(%)' ,ascending=False)
    result_df = sorted_df[sorted_df['3개월누적수익률(%)'] > 0]
  elif term == 2:
    sorted_df = df.sort_values(by='12개월누적수익률(%)', ascending=False)
    result_df = sorted_df[sorted_df['12개월누적수익률(%)'] > 0]
  return result_df

In [26]:
df.head()

      운용사명                           상품명  1개월누적수익률(%)  ...  선취수수료(%)  총보수(%)  type
0  BNK자산운용      BNK 튼튼코리아증권투자신탁1호[주식] A1         7.14  ...       1.0    1.45     1
1  BNK자산운용     BNK 튼튼코리아증권투자신탁1호[주식] C-e         7.13  ...       0.0    1.53     1
2  BNK자산운용       BNK 튼튼코리아증권투자신탁1호[주식]C1         7.07  ...       0.0    2.25     1
4  BNK자산운용    BNK스팩&공모주30증권투자신탁1호(채권혼합)A         0.45  ...       0.8    0.90     3
5  BNK자산운용  BNK스팩&공모주30증권투자신탁1호(채권혼합)A-e         0.47  ...       0.4    0.70     3

[5 rows x 11 columns]

### 펀드 상품 추천

In [27]:
typenum = 1 # 주식형 종목 선택
paynum = 2  # 안정투자성향 선택
term = 2    # 장기투자 선택
style = 3   # 총보수 1%~2%로 제한

In [28]:
df1 = fund_type(df, typenum)
df2 = total_pay(df1, paynum)
df3 = invest_type(df2, style)
df4 = profit10(df3, term)
result = df4.sample(3)

In [32]:
v1 = result['운용사명'].values
v2 = result['상품명'].values
if term == 1:
    v3 = result['3개월누적수익률(%)'].values
elif term == 2:
    v3 = result['12개월누적수익률(%)'].values
v4 = result['펀드등급'].values
v5 = result['펀드유형'].values
v6 = result['선취수수료(%)'].values
v7 = result['총보수(%)'].values

recommend = pd.DataFrame({
    '운용사' : v1,
    '상품명' : v2,
    '펀드유형' : v3,
    '펀드위험등급' : v4,
    '누적수익률(%)' : v5,
    '선취수수료(%)' : v6,
    '총보수(%)' : v7
})

In [34]:
recommend

             운용사                         상품명   펀드유형  ...  누적수익률(%) 선취수수료(%)  총보수(%)
0       미래에셋자산운용     미래에셋인디아솔로몬증권투자신탁1호(주식)I  18.78  ...       주식형    0.005   1.105
1  프랭클린템플턴투자신탁운용     프랭클린재팬증권자투자신탁(UH)(주식)Ce   6.25  ...       주식형    0.000   1.970
2      하나UBS자산운용  하나UBS 인Best연금증권투자신탁제1호(주식)  43.54  ...       주식형    0.000   1.535

[3 rows x 7 columns]